body
{
color: rgb(96, 105, 8);
text-align: center;
font-family: 'Franklin Gothic Medium';
margin: 0;
padding:  0;
}
#container
{
width: 50%;
padding: 1em;
text-align: center;
border:2px solid ;
margin: 0 auto;

}
#container h1
{
    font-size: 40px;
}
